In [21]:
#Correlations
df.corr()

ValueError: could not convert string to float: 'Marcia'

In [1]:
import pandas as pd

In [16]:
df = pd.read_csv("gradedata.csv")
print(df.to_string())

            fname        lname  gender  age  exercise  hours  grade                                                     address
0          Marcia         Pugh  female   17         2      7   82.4                     9253 Richardson Road, Matawan, NJ 07747
1          Kadeem     Morrison    male   18         4     15   78.2                            33 Spring Dr., Taunton, MA 02780
2            Nash       Powell    male   18         5     16   79.3                            41 Hill Avenue, Mentor, OH 44060
3         Noelani       Wagner  female   14         2      7   83.2                          8839 Marshall St., Miami, FL 33125
4         Noelani       Cherry  female   18         4     15   87.4                    8304 Charles Rd., Lewis Center, OH 43035
5            Neil      Whitley    male   16         5     16   88.7                    40 Washington Ave., Bloomfield, NJ 07003
6           Nelle       Golden  female   17         1      9   80.2                       9768 Hanover Dr., Meadville, PA 16335
7         Armando      Hoffman    male   17         5     18   95.1                       360 Manor Drive, Northville, MI 48167
8         Illiana        Rojas  female   15         5      9   76.5                    9425 Studebaker Dr., Thibodaux, LA 70301
9            Neil       Wooten    male   15         3     15   89.7                     400 Bridge Court, Soddy Daisy, TN 37379
10         Daquan      Alvarez    male   16         2     13   85.2                     9028 Arnold Circle, Elizabeth, NJ 07202
11           Nola    Velazquez  female   15         2     10   75.3                         72 Bradford Dr., Carlisle, PA 17013
12          Quinn       Warren  female   14         4     12   80.7                        760 Smith Street, Appleton, WI 54911
13        Frances    Velasquez  female   15         2     15   84.2                             57 Bridge St., Tupelo, MS 38801
14        Lareina        Poole  female   18         1     14   87.6                              59 Court Dr., Waxhaw, NC 28173
15          Medge     Mccarthy  female   15         1      8   75.8                      609 Warren Court, Prior Lake, MN 55372
16           Kibo        Gates    male   16         1     10   88.2                          24 Vernon Street, Helena, MT 59601
17          Libby       Guzman  female   19         1     19  100.0                      666 S. Pennington Rd., Dover, NH 03820
18         Shelly      Rosario  female   18         4     13   84.3                  571 Miles Street, Flowery Branch, GA 30542
19           Lane         Tate    male   19         4     11   84.2                   4 Old Westport St., Glen Burnie, MD 21060
20        Isadora         Case  female   18         3     11   79.1                           44 Ocean Lane, Appleton, WI 54911
21          Maggy    Whitfield  female   15         1     15   90.5                            2 Henry Ave., Palm Bay, FL 32907
22          Elton       Wagner    male   16         2      9   71.0                      98 Indian Spring St., Athens, GA 30605
23          Lance     Benjamin    male   14         5     18   90.3                              55 Creek Dr., Lorton, VA 22079
24           Kyle      Skinner    male   17         5      6   82.4                 8593 East Branch St., Mooresville, NC 28115
25          Colin        Cohen    male   14         1     10   83.8                    23 Lakewood Street, Lake Worth, FL 33460
26        Solomon    Mcpherson    male   15         5     18   94.5             7465 North Pearl St., Massapequa Park, NY 11762
27           Ulla       Warren  female   18         1     16   83.5                       89 Fairview Avenue, Hopkins, MN 55343
28          Tyler      Collier    male   16         1      9   69.7                     65 Lookout Street, Marshfield, WI 54449
29           Emma       Mccall  female   16         2     13   91.1                       854 Sussex Street, Westford, MA 01886
30         Isaiah       Newman    male   16         2     12   91.9                          12 Shirley Road, Everett, MA 02149
31          Carol       Acosta  female   16         3     13   85.0                        8459 Windfall St., Navarre, FL 32566
32        Georgia        Munoz  female   14         5     20   99.0                         84 New Saddle St., Revere, MA 02151
33          Doris     Melendez  female   17         5     12   93.2                           8 Euclid Drive, Bel Air, MD 21014
34           Eric       Larsen    male   14         2     11   71.9                    366 State Ave., Hendersonville, NC 28792
35           Cain       Sexton    male   16         3      8   85.3                 9370 Green Hill Dr., Beaver Falls, PA 15010
36           Ivor       Arnold    male   19         4     20  100.0                    7027 Magnolia Dr., Catonsville, MD 21228
37          Devin       Jacobs    male   14         3     14   98.1                  9033 NW. Pleasant St., Salisbury, MD 21801
38        Rebekah        Brock  female   16         2      5   68.9                        74 Gonzales Court, Natchez, MS 39120
39        Cameran        Sears  female   14         4      8   75.4                   6 S. Edgewater Ave., Royersford, PA 19468
40         Norman   Cunningham    male   17         2     10   76.8                        8365 Liberty Street, Miami, FL 33125
41         Lenore     Copeland  female   14         4      8   74.0                        74 Howard Ave., Southfield, MI 48076
42         Keelie     Guerrero  female   15         1     12   81.0             221 Walt Whitman Court, Redondo Beach, CA 90278
43          Hilel     Hamilton    male   15         2     17   95.2                  9761 Lexington Street, Littleton, CO 80123
44          Dolan         Ford    male   14         3      3   64.2                                12 New St., Newark, NJ 07103
45           Rhea       Melton  female   18         5     12   95.0              9210 Fawn Drive, South Richmond Hill, NY 11419
46         Fulton    Castaneda    male   14         3     10   71.2                          956 East Street, Hamburg, NY 14075
47        Kiayada      Bullock  female   18         3     11   74.9                          613 Peg Shop Court, Yuma, AZ 85365
48        Aurelia      Clayton  female   14         5      3   72.1                                81 High Ave., Bear, DE 19701
49           Nero        Klein    male   18         2     10   87.8                    164 Lakeview St., Port Chester, NY 10573
50        Aladdin     Chambers    male   19         4     11   82.6                     838 Magnolia Drive, Arlington, MA 02474
51           Beau         Goff    male   19         2     15   85.1                    848 Creekside Road, Germantown, MD 20874
52       Octavius       Walker    male   15         2     11   81.3                    568 Longfellow Street, Garland, TX 75043
53          Allen   Livingston    male   18         5     13   89.4                        399 Pheasant Drive, Natick, MA 01760
54          Basil       Fuller    male   16         3      9   86.4                 8216 Constitution Street, Romulus, MI 48174
55          Reese        Kline    male   16         4     11   83.5                      105 Pineknoll Drive, Shirley, NY 11967
56           Tate       Dunlap    male   17         2      6   67.7                       256 High Street, Youngstown, OH 44512
57          Jonah         Sosa    male   14         5     12   89.9                     197 Joy Ridge St., Trussville, AL 35173
58         Ingrid       Harvey  female   16         5      5   72.6                     399 Sussex St., Bowling Green, KY 42101
59         Tanner       Vaughn    male   17         4     11   89.1                  9707 Saxton Drive, New Brunswick, NJ 08901
60           Oleg       Mooney    male   16         3     10   71.3                 89 Redwood Street, Virginia Beach, VA 23451
61          Piper       Lowery  female   19         2      5   61.4           345 Greenrose Dr., Feasterville Trevose, PA 19053
62      Genevieve       Adkins  female   15         1      8   67.3                     8480 Aspen Street, Chesterton, IN 46304
63          Lilah        Roman  female   19         4      9   85.9                      292 Devonshire Ave., Emporia, KS 66801
64        Illiana     Thompson  female   15         3     17   86.0               7156 Crescent Street, South Windsor, CT 06074
65         Warren         Pope    male   18         4      5   76.3              234 East San Pablo St., Mount Laurel, NJ 08054
66          Regan        Foley  female   16         2      9   77.4                        115 Gainsway St., Suitland, MD 20746
67         Justin       Morris    male   19         5     10   77.5                     8221 Griffin Street, Macungie, PA 18062
68         Isaiah      Patrick    male   19         4      3   65.3                       7103 Oak Street, Pikesville, MD 21208
69          Daryl       Benson  female   19         1     18   93.8                           583 Border St., Dunedin, FL 34698
70        Barbara       Berger  female   16         3     12   82.7                       99 Thompson Road, Harlingen, TX 78552
71      Christine       Briggs  female   14         5     18   91.9                        88 Magnolia Street, Hamden, CT 06514
72           Iola       Bowers  female   19         3     11   88.4                7647 Galvin St., Lake In The Hills, IL 60156
73           Lars      Oconnor    male   18         4      8   67.9                        9 Race Court, West Roxbury, MA 02132
74          Jaden    Maldonado  female   16         4     10   84.5                      8127 Myers Dr., Johnson City, TN 37601
75          Signe        Lopez  female   18         2     13   76.7                        5 Gonzales St., Bettendorf, IA 52722
76         Deanna       Warren  female   19         1      9   83.2                          618 Goldfield Rd., Aiken, SC 29803
77         Quemby      Justice  female   14         2     17  100.0                      346 Birchpond Court, Decatur, GA 30030
78        Shafira      Guthrie  female   17         4     12   85.3                    618 Buckingham Ave., Langhorne, PA 19047
79         Ariana      Pacheco  female   17         1      5   70.9                   8914 Newbridge Lane, New Castle, PA 16101
80           Hoyt        Lyons    male   16         5      1   71.3            720 Linden Street, Springfield Gardens, NY 11413
81         Justin       Holden    male   18         3     17   83.5                   15 South Third Drive, Coachella, CA 92236
82         Phelan         Rich    male   16         1      6   74.9              72 Jockey Hollow Ave., Winston Salem, NC 27103
83       Honorato   Villarreal    male   14         1     12   73.3                    63 Woodside Avenue, Round Lake, IL 60073
84         Hashim      Hopkins    male   18         3     10   77.9                  7459 Cedarwood St., West Chester, PA 19380
85         Porter         Ware    male   14         1     16   90.4                         52 Shirley Drive, Merrick, NY 11566
86           Joan       Sexton  female   18         5     18   96.6                     642 West Sussex St., Honolulu, HI 96815
87          Alexa    Gutierrez  female   17         4      6   81.2                        59 Foster Ave., Auburndale, FL 33823
88           Sean       Molina    male   17         1      8   67.7                        8950 Sycamore Dr., Roswell, GA 30075
89         Lucius      Herrera    male   14         2     19   88.0                          67 Old Clinton Dr., Lynn, MA 01902
90         Sydnee     Campbell  female   18         2     15   99.4                      64 Hill Field Ave., Kennesaw, GA 30144
91      Allistair      Rosales    male   14         4      3   67.0                          7825 Dogwood Dr., Norman, OK 73072
92         Alyssa        Craig  female   19         5     11   93.0             9533 Big Rock Cove Street, Morgantown, WV 26508
93           Cody         Lara    male   18         1      6   69.0                   12 South Crescent Street, Mason, OH 45040
94        Bernard    Mcconnell    male   14         2     10   78.3                            571 Acacia St., Smyrna, GA 30080
95          Jonah     Mckinney    male   15         2     11   74.9                  644 Walnutwood Street, Rock Hill, SC 29730
96            Yen        Cooke  female   14         4     11   87.9                             54 Eagle Dr., Rocklin, CA 95677
97        Cassidy       Hughes  female   15         3     17   92.0                            656 East Road, Hampton, VA 23666
98         Gisela     Johnston  female   19         1      8   68.0                   534 N. Belmont Avenue, Tualatin, OR 97062
99          Yetta       Howell  female   17         3     13   89.2                      348 Tailwater Lane, Hilliard, OH 43026
100       Gabriel       Morton    male   16         2     15   91.3                            23 Circle Street, Reno, NV 89523
101          Sage    Cleveland  female   19         2     20  100.0                         9721B Green Dr., Fairhope, AL 36532
102       Shannon          Key  female   15         1     11   83.7                     242 Littleton Rd., Flemington, NJ 08822
103     Sigourney     Mitchell  female   14         2     12   82.5                          7923 8th Rd., Norristown, PA 19401
104      Adrienne        Klein  female   18         3     12   77.3                 8653 Santa Clara Street, Columbus, GA 31904
105        Chaney      Hoffman    male   14         3     13   93.6                  9152 Glenwood Ave., New Rochelle, NY 10801
106         Fritz         Park    male   14         2     18   93.2                      9991 Parker Court, Lansdowne, PA 19050
107       Clinton    Donaldson    male   16         5     10   88.4                            96 Shipley Ave., Evans, GA 30809
108          Lara        Haley  female   17         5     12   95.6                  7586 Oakwood Lane, Winter Garden, FL 34787
109        Sophia       Gordon  female   19         4     17  100.0               7672 Smoky Hollow Street, Hillsboro, OR 97124
110          Kaye       Howard  female   19         5     13   94.9                       7890 Pin Oak Court, Norwood, MA 02062
111       Quinlan      Rollins    male   15         5      8   73.3                              77 Tower St., Carmel, NY 10512
112       Xanthus       Barlow    male   19         5     16   95.5                         92 Franklin Ave., Deltona, FL 32725
113      Hamilton      Terrell    male   15         5     16   96.6                          39 Lookout St., Highland, IN 46322
114          Zeus      Ratliff    male   14         2     16   88.8                    8644 SW. Delaware St., Peabody, MA 01960
115     Valentine      Osborne    male   19         5     12   92.2                        8 South Chapel St., Elyria, OH 44035
116         Zahir      Watkins    male   14         2     14   92.0                          9820 Church Ave., Newnan, GA 30263
117         Debra    Wilkerson  female   16         4      5   66.3                              48 Race Dr., Cumming, GA 30040
118          Clio       Wilson  female   14         1      5   65.3             8020 E. Hilldale Drive, East Hartford, CT 06118
119      Cathleen       Hayden  female   18         4      3   73.4                       55 N. Ryan St., New Orleans, LA 70115
120       Yolanda      Vaughan  female   14         2     15   94.0                          7244 Sutor Court, Canton, GA 30114
121     Guinevere       Romero  female   18         5     14   84.2                         9123 East Hill St., Mason, OH 45040
122        Keelie         Rice  female   19         4      9   88.4                       9906 Lakewood Court, Warren, MI 48089
123       Bethany     Sullivan  female   15         3      9   73.1                          984 10th St., High Point, NC 27265
124      Salvador         Gray    male   14         1     13   84.2                 677 Talbot Street, Shepherdsville, KY 40165
125        Violet     Jennings  female   14         1      5   62.6                     9950 Liberty St., Bloomington, IN 47401
126         Lewis        Jones    male   15         5     11   92.6                         520 Taylor St., Kalamazoo, MI 49009
127         Lunea     Mcfadden  female   17         1     17   91.6                   8416 Hill Field Street, Valrico, FL 33594
128     Shaeleigh      Clayton  female   19         2     12   92.4                      7388 West Branch Dr., Upland, CA 91784
129        Nathan        Payne    male   15         1      8   79.1                  73 East Pheasant St., Sugar Land, TX 77478
130        Stella        Smith  female   14         1      6   76.2                      394 Tunnel Court, Clarksburg, WV 26301
131         Kelly      Shannon    male   18         5     14   90.9                       1 Kirkland Ave., Whitestone, NY 11357
132          Yael     Mcdowell  female   18         3     16   85.2                 42 Whitemarsh Dr., Kings Mountain, NC 28086
133          Zena      Schultz  female   19         3     12   80.1              149 Wintergreen Street, Crystal Lake, IL 60014
134        Chaney   Harrington    male   19         4     11   89.3                    87 Highland Street, Ridgecrest, CA 93555
135         Conan         Wall    male   19         3      6   66.8                9590 Bohemia Road, King Of Prussia, PA 19406
136       Jamalia       Bowman  female   16         1     13   77.8                   54 Devonshire Drive, Farmington, MI 48331
137         Shana       Castro  female   14         1     14   95.0                 62 Studebaker Street, Bloomington, IN 47401
138       Merrill        Duran    male   17         2     10   76.3                9049 Rockwell Street, Merrillville, IN 46410
139       Gregory     Lawrence    male   19         3     14   86.8                  6 North Bohemia Dr., Stockbridge, GA 30281
140       Rebecca         Bird  female   19         2      7   82.5                         9919 Campfire St., Ottawa, IL 61350
141        Sheila         Koch  female   15         5     13   97.1                   8254 Nicolls Drive, Canandaigua, NY 14424
142          Dane        Flynn    male   18         5     12   87.4                    208 West James Road, Jonesboro, GA 30236
143        Connor        Salas    male   19         5     17   90.7                         207 Dogwood Ave., Yonkers, NY 10701
144        Baxter        Hardy    male   14         5      9   75.1                      55 West Foster St., Vineland, NJ 08360
145        Jorden        Sharp  female   17         4     12   90.2                             967 Grove Road, Coram, NY 11727
146            Hu        Weber    male   17         3      9   84.2              916 East Edgewood Street, Ridgefield, CT 06877
147         Maite      Walters  female   16         3     10   74.0                          5 Gainsway Street, Xenia, OH 45385
148       Alfreda         Mays  female   15         4      7   71.6                    58 Pine St., Altamonte Springs, FL 32714
149        Dexter        Wells    male   16         3      5   68.9                      50 Bow Ridge Street, Beckley, WV 25801
150        Sawyer         Hart    male   19         4      8   69.4                     8438 N. Bowman Lane, Hernando, MS 38632
151        Maggie         Rich  female   19         2     11   77.3                          9188 Albany Ave., Goshen, IN 46526
152        Hashim     Callahan    male   16         1     11   71.8                        56 Plymouth Drive, Buffalo, NY 14215
153        Darius      Gilbert    male   19         3      9   86.3                          1 Grand Street, Fairburn, GA 30213
154       Rosalyn           Le  female   18         1     14   88.3                      18 Princess Road, Mocksville, NC 27028

In [3]:
#EMPTY CELLS
#Remove Rows
df.dropna(inplace = True) #Remove all rows with NULL values
print(df.to_string())

            fname        lname  gender  age  exercise  hours  grade                                                     address
0          Marcia         Pugh  female   17         2      7   82.4                     9253 Richardson Road, Matawan, NJ 07747
1          Kadeem     Morrison    male   18         4     15   78.2                            33 Spring Dr., Taunton, MA 02780
2            Nash       Powell    male   18         5     16   79.3                            41 Hill Avenue, Mentor, OH 44060
3         Noelani       Wagner  female   14         2      7   83.2                          8839 Marshall St., Miami, FL 33125
4         Noelani       Cherry  female   18         4     15   87.4                    8304 Charles Rd., Lewis Center, OH 43035
5            Neil      Whitley    male   16         5     16   88.7                    40 Washington Ave., Bloomfield, NJ 07003
6           Nelle       Golden  female   17         1      9   80.2                       9768 Hanover Dr., Meadville, PA 16335
7         Armando      Hoffman    male   17         5     18   95.1                       360 Manor Drive, Northville, MI 48167
8         Illiana        Rojas  female   15         5      9   76.5                    9425 Studebaker Dr., Thibodaux, LA 70301
9            Neil       Wooten    male   15         3     15   89.7                     400 Bridge Court, Soddy Daisy, TN 37379
10         Daquan      Alvarez    male   16         2     13   85.2                     9028 Arnold Circle, Elizabeth, NJ 07202
11           Nola    Velazquez  female   15         2     10   75.3                         72 Bradford Dr., Carlisle, PA 17013
12          Quinn       Warren  female   14         4     12   80.7                        760 Smith Street, Appleton, WI 54911
13        Frances    Velasquez  female   15         2     15   84.2                             57 Bridge St., Tupelo, MS 38801
14        Lareina        Poole  female   18         1     14   87.6                              59 Court Dr., Waxhaw, NC 28173
15          Medge     Mccarthy  female   15         1      8   75.8                      609 Warren Court, Prior Lake, MN 55372
16           Kibo        Gates    male   16         1     10   88.2                          24 Vernon Street, Helena, MT 59601
17          Libby       Guzman  female   19         1     19  100.0                      666 S. Pennington Rd., Dover, NH 03820
18         Shelly      Rosario  female   18         4     13   84.3                  571 Miles Street, Flowery Branch, GA 30542
19           Lane         Tate    male   19         4     11   84.2                   4 Old Westport St., Glen Burnie, MD 21060
20        Isadora         Case  female   18         3     11   79.1                           44 Ocean Lane, Appleton, WI 54911
21          Maggy    Whitfield  female   15         1     15   90.5                            2 Henry Ave., Palm Bay, FL 32907
22          Elton       Wagner    male   16         2      9   71.0                      98 Indian Spring St., Athens, GA 30605
23          Lance     Benjamin    male   14         5     18   90.3                              55 Creek Dr., Lorton, VA 22079
24           Kyle      Skinner    male   17         5      6   82.4                 8593 East Branch St., Mooresville, NC 28115
25          Colin        Cohen    male   14         1     10   83.8                    23 Lakewood Street, Lake Worth, FL 33460
26        Solomon    Mcpherson    male   15         5     18   94.5             7465 North Pearl St., Massapequa Park, NY 11762
27           Ulla       Warren  female   18         1     16   83.5                       89 Fairview Avenue, Hopkins, MN 55343
28          Tyler      Collier    male   16         1      9   69.7                     65 Lookout Street, Marshfield, WI 54449
29           Emma       Mccall  female   16         2     13   91.1                       854 Sussex Street, Westford, MA 01886
30         Isaiah       Newman    male   16         2     12   91.9                          12 Shirley Road, Everett, MA 02149
31          Carol       Acosta  female   16         3     13   85.0                        8459 Windfall St., Navarre, FL 32566
32        Georgia        Munoz  female   14         5     20   99.0                         84 New Saddle St., Revere, MA 02151
33          Doris     Melendez  female   17         5     12   93.2                           8 Euclid Drive, Bel Air, MD 21014
34           Eric       Larsen    male   14         2     11   71.9                    366 State Ave., Hendersonville, NC 28792
35           Cain       Sexton    male   16         3      8   85.3                 9370 Green Hill Dr., Beaver Falls, PA 15010
36           Ivor       Arnold    male   19         4     20  100.0                    7027 Magnolia Dr., Catonsville, MD 21228
37          Devin       Jacobs    male   14         3     14   98.1                  9033 NW. Pleasant St., Salisbury, MD 21801
38        Rebekah        Brock  female   16         2      5   68.9                        74 Gonzales Court, Natchez, MS 39120
39        Cameran        Sears  female   14         4      8   75.4                   6 S. Edgewater Ave., Royersford, PA 19468
40         Norman   Cunningham    male   17         2     10   76.8                        8365 Liberty Street, Miami, FL 33125
41         Lenore     Copeland  female   14         4      8   74.0                        74 Howard Ave., Southfield, MI 48076
42         Keelie     Guerrero  female   15         1     12   81.0             221 Walt Whitman Court, Redondo Beach, CA 90278
43          Hilel     Hamilton    male   15         2     17   95.2                  9761 Lexington Street, Littleton, CO 80123
44          Dolan         Ford    male   14         3      3   64.2                                12 New St., Newark, NJ 07103
45           Rhea       Melton  female   18         5     12   95.0              9210 Fawn Drive, South Richmond Hill, NY 11419
46         Fulton    Castaneda    male   14         3     10   71.2                          956 East Street, Hamburg, NY 14075
47        Kiayada      Bullock  female   18         3     11   74.9                          613 Peg Shop Court, Yuma, AZ 85365
48        Aurelia      Clayton  female   14         5      3   72.1                                81 High Ave., Bear, DE 19701
49           Nero        Klein    male   18         2     10   87.8                    164 Lakeview St., Port Chester, NY 10573
50        Aladdin     Chambers    male   19         4     11   82.6                     838 Magnolia Drive, Arlington, MA 02474
51           Beau         Goff    male   19         2     15   85.1                    848 Creekside Road, Germantown, MD 20874
52       Octavius       Walker    male   15         2     11   81.3                    568 Longfellow Street, Garland, TX 75043
53          Allen   Livingston    male   18         5     13   89.4                        399 Pheasant Drive, Natick, MA 01760
54          Basil       Fuller    male   16         3      9   86.4                 8216 Constitution Street, Romulus, MI 48174
55          Reese        Kline    male   16         4     11   83.5                      105 Pineknoll Drive, Shirley, NY 11967
56           Tate       Dunlap    male   17         2      6   67.7                       256 High Street, Youngstown, OH 44512
57          Jonah         Sosa    male   14         5     12   89.9                     197 Joy Ridge St., Trussville, AL 35173
58         Ingrid       Harvey  female   16         5      5   72.6                     399 Sussex St., Bowling Green, KY 42101
59         Tanner       Vaughn    male   17         4     11   89.1                  9707 Saxton Drive, New Brunswick, NJ 08901
60           Oleg       Mooney    male   16         3     10   71.3                 89 Redwood Street, Virginia Beach, VA 23451
61          Piper       Lowery  female   19         2      5   61.4           345 Greenrose Dr., Feasterville Trevose, PA 19053
62      Genevieve       Adkins  female   15         1      8   67.3                     8480 Aspen Street, Chesterton, IN 46304
63          Lilah        Roman  female   19         4      9   85.9                      292 Devonshire Ave., Emporia, KS 66801
64        Illiana     Thompson  female   15         3     17   86.0               7156 Crescent Street, South Windsor, CT 06074
65         Warren         Pope    male   18         4      5   76.3              234 East San Pablo St., Mount Laurel, NJ 08054
66          Regan        Foley  female   16         2      9   77.4                        115 Gainsway St., Suitland, MD 20746
67         Justin       Morris    male   19         5     10   77.5                     8221 Griffin Street, Macungie, PA 18062
68         Isaiah      Patrick    male   19         4      3   65.3                       7103 Oak Street, Pikesville, MD 21208
69          Daryl       Benson  female   19         1     18   93.8                           583 Border St., Dunedin, FL 34698
70        Barbara       Berger  female   16         3     12   82.7                       99 Thompson Road, Harlingen, TX 78552
71      Christine       Briggs  female   14         5     18   91.9                        88 Magnolia Street, Hamden, CT 06514
72           Iola       Bowers  female   19         3     11   88.4                7647 Galvin St., Lake In The Hills, IL 60156
73           Lars      Oconnor    male   18         4      8   67.9                        9 Race Court, West Roxbury, MA 02132
74          Jaden    Maldonado  female   16         4     10   84.5                      8127 Myers Dr., Johnson City, TN 37601
75          Signe        Lopez  female   18         2     13   76.7                        5 Gonzales St., Bettendorf, IA 52722
76         Deanna       Warren  female   19         1      9   83.2                          618 Goldfield Rd., Aiken, SC 29803
77         Quemby      Justice  female   14         2     17  100.0                      346 Birchpond Court, Decatur, GA 30030
78        Shafira      Guthrie  female   17         4     12   85.3                    618 Buckingham Ave., Langhorne, PA 19047
79         Ariana      Pacheco  female   17         1      5   70.9                   8914 Newbridge Lane, New Castle, PA 16101
80           Hoyt        Lyons    male   16         5      1   71.3            720 Linden Street, Springfield Gardens, NY 11413
81         Justin       Holden    male   18         3     17   83.5                   15 South Third Drive, Coachella, CA 92236
82         Phelan         Rich    male   16         1      6   74.9              72 Jockey Hollow Ave., Winston Salem, NC 27103
83       Honorato   Villarreal    male   14         1     12   73.3                    63 Woodside Avenue, Round Lake, IL 60073
84         Hashim      Hopkins    male   18         3     10   77.9                  7459 Cedarwood St., West Chester, PA 19380
85         Porter         Ware    male   14         1     16   90.4                         52 Shirley Drive, Merrick, NY 11566
86           Joan       Sexton  female   18         5     18   96.6                     642 West Sussex St., Honolulu, HI 96815
87          Alexa    Gutierrez  female   17         4      6   81.2                        59 Foster Ave., Auburndale, FL 33823
88           Sean       Molina    male   17         1      8   67.7                        8950 Sycamore Dr., Roswell, GA 30075
89         Lucius      Herrera    male   14         2     19   88.0                          67 Old Clinton Dr., Lynn, MA 01902
90         Sydnee     Campbell  female   18         2     15   99.4                      64 Hill Field Ave., Kennesaw, GA 30144
91      Allistair      Rosales    male   14         4      3   67.0                          7825 Dogwood Dr., Norman, OK 73072
92         Alyssa        Craig  female   19         5     11   93.0             9533 Big Rock Cove Street, Morgantown, WV 26508
93           Cody         Lara    male   18         1      6   69.0                   12 South Crescent Street, Mason, OH 45040
94        Bernard    Mcconnell    male   14         2     10   78.3                            571 Acacia St., Smyrna, GA 30080
95          Jonah     Mckinney    male   15         2     11   74.9                  644 Walnutwood Street, Rock Hill, SC 29730
96            Yen        Cooke  female   14         4     11   87.9                             54 Eagle Dr., Rocklin, CA 95677
97        Cassidy       Hughes  female   15         3     17   92.0                            656 East Road, Hampton, VA 23666
98         Gisela     Johnston  female   19         1      8   68.0                   534 N. Belmont Avenue, Tualatin, OR 97062
99          Yetta       Howell  female   17         3     13   89.2                      348 Tailwater Lane, Hilliard, OH 43026
100       Gabriel       Morton    male   16         2     15   91.3                            23 Circle Street, Reno, NV 89523
101          Sage    Cleveland  female   19         2     20  100.0                         9721B Green Dr., Fairhope, AL 36532
102       Shannon          Key  female   15         1     11   83.7                     242 Littleton Rd., Flemington, NJ 08822
103     Sigourney     Mitchell  female   14         2     12   82.5                          7923 8th Rd., Norristown, PA 19401
104      Adrienne        Klein  female   18         3     12   77.3                 8653 Santa Clara Street, Columbus, GA 31904
105        Chaney      Hoffman    male   14         3     13   93.6                  9152 Glenwood Ave., New Rochelle, NY 10801
106         Fritz         Park    male   14         2     18   93.2                      9991 Parker Court, Lansdowne, PA 19050
107       Clinton    Donaldson    male   16         5     10   88.4                            96 Shipley Ave., Evans, GA 30809
108          Lara        Haley  female   17         5     12   95.6                  7586 Oakwood Lane, Winter Garden, FL 34787
109        Sophia       Gordon  female   19         4     17  100.0               7672 Smoky Hollow Street, Hillsboro, OR 97124
110          Kaye       Howard  female   19         5     13   94.9                       7890 Pin Oak Court, Norwood, MA 02062
111       Quinlan      Rollins    male   15         5      8   73.3                              77 Tower St., Carmel, NY 10512
112       Xanthus       Barlow    male   19         5     16   95.5                         92 Franklin Ave., Deltona, FL 32725
113      Hamilton      Terrell    male   15         5     16   96.6                          39 Lookout St., Highland, IN 46322
114          Zeus      Ratliff    male   14         2     16   88.8                    8644 SW. Delaware St., Peabody, MA 01960
115     Valentine      Osborne    male   19         5     12   92.2                        8 South Chapel St., Elyria, OH 44035
116         Zahir      Watkins    male   14         2     14   92.0                          9820 Church Ave., Newnan, GA 30263
117         Debra    Wilkerson  female   16         4      5   66.3                              48 Race Dr., Cumming, GA 30040
118          Clio       Wilson  female   14         1      5   65.3             8020 E. Hilldale Drive, East Hartford, CT 06118
119      Cathleen       Hayden  female   18         4      3   73.4                       55 N. Ryan St., New Orleans, LA 70115
120       Yolanda      Vaughan  female   14         2     15   94.0                          7244 Sutor Court, Canton, GA 30114
121     Guinevere       Romero  female   18         5     14   84.2                         9123 East Hill St., Mason, OH 45040
122        Keelie         Rice  female   19         4      9   88.4                       9906 Lakewood Court, Warren, MI 48089
123       Bethany     Sullivan  female   15         3      9   73.1                          984 10th St., High Point, NC 27265
124      Salvador         Gray    male   14         1     13   84.2                 677 Talbot Street, Shepherdsville, KY 40165
125        Violet     Jennings  female   14         1      5   62.6                     9950 Liberty St., Bloomington, IN 47401
126         Lewis        Jones    male   15         5     11   92.6                         520 Taylor St., Kalamazoo, MI 49009
127         Lunea     Mcfadden  female   17         1     17   91.6                   8416 Hill Field Street, Valrico, FL 33594
128     Shaeleigh      Clayton  female   19         2     12   92.4                      7388 West Branch Dr., Upland, CA 91784
129        Nathan        Payne    male   15         1      8   79.1                  73 East Pheasant St., Sugar Land, TX 77478
130        Stella        Smith  female   14         1      6   76.2                      394 Tunnel Court, Clarksburg, WV 26301
131         Kelly      Shannon    male   18         5     14   90.9                       1 Kirkland Ave., Whitestone, NY 11357
132          Yael     Mcdowell  female   18         3     16   85.2                 42 Whitemarsh Dr., Kings Mountain, NC 28086
133          Zena      Schultz  female   19         3     12   80.1              149 Wintergreen Street, Crystal Lake, IL 60014
134        Chaney   Harrington    male   19         4     11   89.3                    87 Highland Street, Ridgecrest, CA 93555
135         Conan         Wall    male   19         3      6   66.8                9590 Bohemia Road, King Of Prussia, PA 19406
136       Jamalia       Bowman  female   16         1     13   77.8                   54 Devonshire Drive, Farmington, MI 48331
137         Shana       Castro  female   14         1     14   95.0                 62 Studebaker Street, Bloomington, IN 47401
138       Merrill        Duran    male   17         2     10   76.3                9049 Rockwell Street, Merrillville, IN 46410
139       Gregory     Lawrence    male   19         3     14   86.8                  6 North Bohemia Dr., Stockbridge, GA 30281
140       Rebecca         Bird  female   19         2      7   82.5                         9919 Campfire St., Ottawa, IL 61350
141        Sheila         Koch  female   15         5     13   97.1                   8254 Nicolls Drive, Canandaigua, NY 14424
142          Dane        Flynn    male   18         5     12   87.4                    208 West James Road, Jonesboro, GA 30236
143        Connor        Salas    male   19         5     17   90.7                         207 Dogwood Ave., Yonkers, NY 10701
144        Baxter        Hardy    male   14         5      9   75.1                      55 West Foster St., Vineland, NJ 08360
145        Jorden        Sharp  female   17         4     12   90.2                             967 Grove Road, Coram, NY 11727
146            Hu        Weber    male   17         3      9   84.2              916 East Edgewood Street, Ridgefield, CT 06877
147         Maite      Walters  female   16         3     10   74.0                          5 Gainsway Street, Xenia, OH 45385
148       Alfreda         Mays  female   15         4      7   71.6                    58 Pine St., Altamonte Springs, FL 32714
149        Dexter        Wells    male   16         3      5   68.9                      50 Bow Ridge Street, Beckley, WV 25801
150        Sawyer         Hart    male   19         4      8   69.4                     8438 N. Bowman Lane, Hernando, MS 38632
151        Maggie         Rich  female   19         2     11   77.3                          9188 Albany Ave., Goshen, IN 46526
152        Hashim     Callahan    male   16         1     11   71.8                        56 Plymouth Drive, Buffalo, NY 14215
153        Darius      Gilbert    male   19         3      9   86.3                          1 Grand Street, Fairburn, GA 30213
154       Rosalyn           Le  female   18         1     14   88.3                      18 Princess Road, Mocksville, NC 27028

In [5]:
#EMPTY CELLS
#Remove Empty Value
df.fillna(130,inplace = True) #Replace NULL values with the number 130

In [6]:
#EMPTY CELLS
#Remove only For Specified Collumns
df.fillna({'age': 25}, inplace = True) #Replace NULL values in the "age" columns with the number 25

In [7]:
#EMPTY CELLS
#Replace using Mean, Medain or Mode
x = df["age"].mean()
y = df["age"].median()
z = df["age"].mode()[0]
df.fillna({'age': x}, inplace = True) #Calculate the MEAN, and replace any empty values with it
print(df.to_string())

            fname        lname  gender  age  exercise  hours  grade                                                     address
0          Marcia         Pugh  female   17         2      7   82.4                     9253 Richardson Road, Matawan, NJ 07747
1          Kadeem     Morrison    male   18         4     15   78.2                            33 Spring Dr., Taunton, MA 02780
2            Nash       Powell    male   18         5     16   79.3                            41 Hill Avenue, Mentor, OH 44060
3         Noelani       Wagner  female   14         2      7   83.2                          8839 Marshall St., Miami, FL 33125
4         Noelani       Cherry  female   18         4     15   87.4                    8304 Charles Rd., Lewis Center, OH 43035
5            Neil      Whitley    male   16         5     16   88.7                    40 Washington Ave., Bloomfield, NJ 07003
6           Nelle       Golden  female   17         1      9   80.2                       9768 Hanover Dr., Meadville, PA 16335
7         Armando      Hoffman    male   17         5     18   95.1                       360 Manor Drive, Northville, MI 48167
8         Illiana        Rojas  female   15         5      9   76.5                    9425 Studebaker Dr., Thibodaux, LA 70301
9            Neil       Wooten    male   15         3     15   89.7                     400 Bridge Court, Soddy Daisy, TN 37379
10         Daquan      Alvarez    male   16         2     13   85.2                     9028 Arnold Circle, Elizabeth, NJ 07202
11           Nola    Velazquez  female   15         2     10   75.3                         72 Bradford Dr., Carlisle, PA 17013
12          Quinn       Warren  female   14         4     12   80.7                        760 Smith Street, Appleton, WI 54911
13        Frances    Velasquez  female   15         2     15   84.2                             57 Bridge St., Tupelo, MS 38801
14        Lareina        Poole  female   18         1     14   87.6                              59 Court Dr., Waxhaw, NC 28173
15          Medge     Mccarthy  female   15         1      8   75.8                      609 Warren Court, Prior Lake, MN 55372
16           Kibo        Gates    male   16         1     10   88.2                          24 Vernon Street, Helena, MT 59601
17          Libby       Guzman  female   19         1     19  100.0                      666 S. Pennington Rd., Dover, NH 03820
18         Shelly      Rosario  female   18         4     13   84.3                  571 Miles Street, Flowery Branch, GA 30542
19           Lane         Tate    male   19         4     11   84.2                   4 Old Westport St., Glen Burnie, MD 21060
20        Isadora         Case  female   18         3     11   79.1                           44 Ocean Lane, Appleton, WI 54911
21          Maggy    Whitfield  female   15         1     15   90.5                            2 Henry Ave., Palm Bay, FL 32907
22          Elton       Wagner    male   16         2      9   71.0                      98 Indian Spring St., Athens, GA 30605
23          Lance     Benjamin    male   14         5     18   90.3                              55 Creek Dr., Lorton, VA 22079
24           Kyle      Skinner    male   17         5      6   82.4                 8593 East Branch St., Mooresville, NC 28115
25          Colin        Cohen    male   14         1     10   83.8                    23 Lakewood Street, Lake Worth, FL 33460
26        Solomon    Mcpherson    male   15         5     18   94.5             7465 North Pearl St., Massapequa Park, NY 11762
27           Ulla       Warren  female   18         1     16   83.5                       89 Fairview Avenue, Hopkins, MN 55343
28          Tyler      Collier    male   16         1      9   69.7                     65 Lookout Street, Marshfield, WI 54449
29           Emma       Mccall  female   16         2     13   91.1                       854 Sussex Street, Westford, MA 01886
30         Isaiah       Newman    male   16         2     12   91.9                          12 Shirley Road, Everett, MA 02149
31          Carol       Acosta  female   16         3     13   85.0                        8459 Windfall St., Navarre, FL 32566
32        Georgia        Munoz  female   14         5     20   99.0                         84 New Saddle St., Revere, MA 02151
33          Doris     Melendez  female   17         5     12   93.2                           8 Euclid Drive, Bel Air, MD 21014
34           Eric       Larsen    male   14         2     11   71.9                    366 State Ave., Hendersonville, NC 28792
35           Cain       Sexton    male   16         3      8   85.3                 9370 Green Hill Dr., Beaver Falls, PA 15010
36           Ivor       Arnold    male   19         4     20  100.0                    7027 Magnolia Dr., Catonsville, MD 21228
37          Devin       Jacobs    male   14         3     14   98.1                  9033 NW. Pleasant St., Salisbury, MD 21801
38        Rebekah        Brock  female   16         2      5   68.9                        74 Gonzales Court, Natchez, MS 39120
39        Cameran        Sears  female   14         4      8   75.4                   6 S. Edgewater Ave., Royersford, PA 19468
40         Norman   Cunningham    male   17         2     10   76.8                        8365 Liberty Street, Miami, FL 33125
41         Lenore     Copeland  female   14         4      8   74.0                        74 Howard Ave., Southfield, MI 48076
42         Keelie     Guerrero  female   15         1     12   81.0             221 Walt Whitman Court, Redondo Beach, CA 90278
43          Hilel     Hamilton    male   15         2     17   95.2                  9761 Lexington Street, Littleton, CO 80123
44          Dolan         Ford    male   14         3      3   64.2                                12 New St., Newark, NJ 07103
45           Rhea       Melton  female   18         5     12   95.0              9210 Fawn Drive, South Richmond Hill, NY 11419
46         Fulton    Castaneda    male   14         3     10   71.2                          956 East Street, Hamburg, NY 14075
47        Kiayada      Bullock  female   18         3     11   74.9                          613 Peg Shop Court, Yuma, AZ 85365
48        Aurelia      Clayton  female   14         5      3   72.1                                81 High Ave., Bear, DE 19701
49           Nero        Klein    male   18         2     10   87.8                    164 Lakeview St., Port Chester, NY 10573
50        Aladdin     Chambers    male   19         4     11   82.6                     838 Magnolia Drive, Arlington, MA 02474
51           Beau         Goff    male   19         2     15   85.1                    848 Creekside Road, Germantown, MD 20874
52       Octavius       Walker    male   15         2     11   81.3                    568 Longfellow Street, Garland, TX 75043
53          Allen   Livingston    male   18         5     13   89.4                        399 Pheasant Drive, Natick, MA 01760
54          Basil       Fuller    male   16         3      9   86.4                 8216 Constitution Street, Romulus, MI 48174
55          Reese        Kline    male   16         4     11   83.5                      105 Pineknoll Drive, Shirley, NY 11967
56           Tate       Dunlap    male   17         2      6   67.7                       256 High Street, Youngstown, OH 44512
57          Jonah         Sosa    male   14         5     12   89.9                     197 Joy Ridge St., Trussville, AL 35173
58         Ingrid       Harvey  female   16         5      5   72.6                     399 Sussex St., Bowling Green, KY 42101
59         Tanner       Vaughn    male   17         4     11   89.1                  9707 Saxton Drive, New Brunswick, NJ 08901
60           Oleg       Mooney    male   16         3     10   71.3                 89 Redwood Street, Virginia Beach, VA 23451
61          Piper       Lowery  female   19         2      5   61.4           345 Greenrose Dr., Feasterville Trevose, PA 19053
62      Genevieve       Adkins  female   15         1      8   67.3                     8480 Aspen Street, Chesterton, IN 46304
63          Lilah        Roman  female   19         4      9   85.9                      292 Devonshire Ave., Emporia, KS 66801
64        Illiana     Thompson  female   15         3     17   86.0               7156 Crescent Street, South Windsor, CT 06074
65         Warren         Pope    male   18         4      5   76.3              234 East San Pablo St., Mount Laurel, NJ 08054
66          Regan        Foley  female   16         2      9   77.4                        115 Gainsway St., Suitland, MD 20746
67         Justin       Morris    male   19         5     10   77.5                     8221 Griffin Street, Macungie, PA 18062
68         Isaiah      Patrick    male   19         4      3   65.3                       7103 Oak Street, Pikesville, MD 21208
69          Daryl       Benson  female   19         1     18   93.8                           583 Border St., Dunedin, FL 34698
70        Barbara       Berger  female   16         3     12   82.7                       99 Thompson Road, Harlingen, TX 78552
71      Christine       Briggs  female   14         5     18   91.9                        88 Magnolia Street, Hamden, CT 06514
72           Iola       Bowers  female   19         3     11   88.4                7647 Galvin St., Lake In The Hills, IL 60156
73           Lars      Oconnor    male   18         4      8   67.9                        9 Race Court, West Roxbury, MA 02132
74          Jaden    Maldonado  female   16         4     10   84.5                      8127 Myers Dr., Johnson City, TN 37601
75          Signe        Lopez  female   18         2     13   76.7                        5 Gonzales St., Bettendorf, IA 52722
76         Deanna       Warren  female   19         1      9   83.2                          618 Goldfield Rd., Aiken, SC 29803
77         Quemby      Justice  female   14         2     17  100.0                      346 Birchpond Court, Decatur, GA 30030
78        Shafira      Guthrie  female   17         4     12   85.3                    618 Buckingham Ave., Langhorne, PA 19047
79         Ariana      Pacheco  female   17         1      5   70.9                   8914 Newbridge Lane, New Castle, PA 16101
80           Hoyt        Lyons    male   16         5      1   71.3            720 Linden Street, Springfield Gardens, NY 11413
81         Justin       Holden    male   18         3     17   83.5                   15 South Third Drive, Coachella, CA 92236
82         Phelan         Rich    male   16         1      6   74.9              72 Jockey Hollow Ave., Winston Salem, NC 27103
83       Honorato   Villarreal    male   14         1     12   73.3                    63 Woodside Avenue, Round Lake, IL 60073
84         Hashim      Hopkins    male   18         3     10   77.9                  7459 Cedarwood St., West Chester, PA 19380
85         Porter         Ware    male   14         1     16   90.4                         52 Shirley Drive, Merrick, NY 11566
86           Joan       Sexton  female   18         5     18   96.6                     642 West Sussex St., Honolulu, HI 96815
87          Alexa    Gutierrez  female   17         4      6   81.2                        59 Foster Ave., Auburndale, FL 33823
88           Sean       Molina    male   17         1      8   67.7                        8950 Sycamore Dr., Roswell, GA 30075
89         Lucius      Herrera    male   14         2     19   88.0                          67 Old Clinton Dr., Lynn, MA 01902
90         Sydnee     Campbell  female   18         2     15   99.4                      64 Hill Field Ave., Kennesaw, GA 30144
91      Allistair      Rosales    male   14         4      3   67.0                          7825 Dogwood Dr., Norman, OK 73072
92         Alyssa        Craig  female   19         5     11   93.0             9533 Big Rock Cove Street, Morgantown, WV 26508
93           Cody         Lara    male   18         1      6   69.0                   12 South Crescent Street, Mason, OH 45040
94        Bernard    Mcconnell    male   14         2     10   78.3                            571 Acacia St., Smyrna, GA 30080
95          Jonah     Mckinney    male   15         2     11   74.9                  644 Walnutwood Street, Rock Hill, SC 29730
96            Yen        Cooke  female   14         4     11   87.9                             54 Eagle Dr., Rocklin, CA 95677
97        Cassidy       Hughes  female   15         3     17   92.0                            656 East Road, Hampton, VA 23666
98         Gisela     Johnston  female   19         1      8   68.0                   534 N. Belmont Avenue, Tualatin, OR 97062
99          Yetta       Howell  female   17         3     13   89.2                      348 Tailwater Lane, Hilliard, OH 43026
100       Gabriel       Morton    male   16         2     15   91.3                            23 Circle Street, Reno, NV 89523
101          Sage    Cleveland  female   19         2     20  100.0                         9721B Green Dr., Fairhope, AL 36532
102       Shannon          Key  female   15         1     11   83.7                     242 Littleton Rd., Flemington, NJ 08822
103     Sigourney     Mitchell  female   14         2     12   82.5                          7923 8th Rd., Norristown, PA 19401
104      Adrienne        Klein  female   18         3     12   77.3                 8653 Santa Clara Street, Columbus, GA 31904
105        Chaney      Hoffman    male   14         3     13   93.6                  9152 Glenwood Ave., New Rochelle, NY 10801
106         Fritz         Park    male   14         2     18   93.2                      9991 Parker Court, Lansdowne, PA 19050
107       Clinton    Donaldson    male   16         5     10   88.4                            96 Shipley Ave., Evans, GA 30809
108          Lara        Haley  female   17         5     12   95.6                  7586 Oakwood Lane, Winter Garden, FL 34787
109        Sophia       Gordon  female   19         4     17  100.0               7672 Smoky Hollow Street, Hillsboro, OR 97124
110          Kaye       Howard  female   19         5     13   94.9                       7890 Pin Oak Court, Norwood, MA 02062
111       Quinlan      Rollins    male   15         5      8   73.3                              77 Tower St., Carmel, NY 10512
112       Xanthus       Barlow    male   19         5     16   95.5                         92 Franklin Ave., Deltona, FL 32725
113      Hamilton      Terrell    male   15         5     16   96.6                          39 Lookout St., Highland, IN 46322
114          Zeus      Ratliff    male   14         2     16   88.8                    8644 SW. Delaware St., Peabody, MA 01960
115     Valentine      Osborne    male   19         5     12   92.2                        8 South Chapel St., Elyria, OH 44035
116         Zahir      Watkins    male   14         2     14   92.0                          9820 Church Ave., Newnan, GA 30263
117         Debra    Wilkerson  female   16         4      5   66.3                              48 Race Dr., Cumming, GA 30040
118          Clio       Wilson  female   14         1      5   65.3             8020 E. Hilldale Drive, East Hartford, CT 06118
119      Cathleen       Hayden  female   18         4      3   73.4                       55 N. Ryan St., New Orleans, LA 70115
120       Yolanda      Vaughan  female   14         2     15   94.0                          7244 Sutor Court, Canton, GA 30114
121     Guinevere       Romero  female   18         5     14   84.2                         9123 East Hill St., Mason, OH 45040
122        Keelie         Rice  female   19         4      9   88.4                       9906 Lakewood Court, Warren, MI 48089
123       Bethany     Sullivan  female   15         3      9   73.1                          984 10th St., High Point, NC 27265
124      Salvador         Gray    male   14         1     13   84.2                 677 Talbot Street, Shepherdsville, KY 40165
125        Violet     Jennings  female   14         1      5   62.6                     9950 Liberty St., Bloomington, IN 47401
126         Lewis        Jones    male   15         5     11   92.6                         520 Taylor St., Kalamazoo, MI 49009
127         Lunea     Mcfadden  female   17         1     17   91.6                   8416 Hill Field Street, Valrico, FL 33594
128     Shaeleigh      Clayton  female   19         2     12   92.4                      7388 West Branch Dr., Upland, CA 91784
129        Nathan        Payne    male   15         1      8   79.1                  73 East Pheasant St., Sugar Land, TX 77478
130        Stella        Smith  female   14         1      6   76.2                      394 Tunnel Court, Clarksburg, WV 26301
131         Kelly      Shannon    male   18         5     14   90.9                       1 Kirkland Ave., Whitestone, NY 11357
132          Yael     Mcdowell  female   18         3     16   85.2                 42 Whitemarsh Dr., Kings Mountain, NC 28086
133          Zena      Schultz  female   19         3     12   80.1              149 Wintergreen Street, Crystal Lake, IL 60014
134        Chaney   Harrington    male   19         4     11   89.3                    87 Highland Street, Ridgecrest, CA 93555
135         Conan         Wall    male   19         3      6   66.8                9590 Bohemia Road, King Of Prussia, PA 19406
136       Jamalia       Bowman  female   16         1     13   77.8                   54 Devonshire Drive, Farmington, MI 48331
137         Shana       Castro  female   14         1     14   95.0                 62 Studebaker Street, Bloomington, IN 47401
138       Merrill        Duran    male   17         2     10   76.3                9049 Rockwell Street, Merrillville, IN 46410
139       Gregory     Lawrence    male   19         3     14   86.8                  6 North Bohemia Dr., Stockbridge, GA 30281
140       Rebecca         Bird  female   19         2      7   82.5                         9919 Campfire St., Ottawa, IL 61350
141        Sheila         Koch  female   15         5     13   97.1                   8254 Nicolls Drive, Canandaigua, NY 14424
142          Dane        Flynn    male   18         5     12   87.4                    208 West James Road, Jonesboro, GA 30236
143        Connor        Salas    male   19         5     17   90.7                         207 Dogwood Ave., Yonkers, NY 10701
144        Baxter        Hardy    male   14         5      9   75.1                      55 West Foster St., Vineland, NJ 08360
145        Jorden        Sharp  female   17         4     12   90.2                             967 Grove Road, Coram, NY 11727
146            Hu        Weber    male   17         3      9   84.2              916 East Edgewood Street, Ridgefield, CT 06877
147         Maite      Walters  female   16         3     10   74.0                          5 Gainsway Street, Xenia, OH 45385
148       Alfreda         Mays  female   15         4      7   71.6                    58 Pine St., Altamonte Springs, FL 32714
149        Dexter        Wells    male   16         3      5   68.9                      50 Bow Ridge Street, Beckley, WV 25801
150        Sawyer         Hart    male   19         4      8   69.4                     8438 N. Bowman Lane, Hernando, MS 38632
151        Maggie         Rich  female   19         2     11   77.3                          9188 Albany Ave., Goshen, IN 46526
152        Hashim     Callahan    male   16         1     11   71.8                        56 Plymouth Drive, Buffalo, NY 14215
153        Darius      Gilbert    male   19         3      9   86.3                          1 Grand Street, Fairburn, GA 30213
154       Rosalyn           Le  female   18         1     14   88.3                      18 Princess Road, Mocksville, NC 27028

In [ ]:
#WRONG FORMAT
df['Date'] = pd.to_datetime(df['Date'], format = 'mixed') #data ko co date nen ko hien, sua du lieu ve dung format
df.dropna(subset = ['Date'], inplace = True)
print(df.to_string())

In [13]:
#WRONG DATA
df.loc[7, 'age'] = 20

for x in df.index:
    if df.loc[x,"age"] > 18:
        df.loc[x,"age"] = 18 #Thay the

for x in df.index:
    if df.loc[x,"age"] > 17:
        df.drop(x, inplace = True) #Xoa du lieu
print(df.to_string())

            fname        lname  gender  age  exercise  hours  grade                                                     address
0          Marcia         Pugh  female   17         2      7   82.4                     9253 Richardson Road, Matawan, NJ 07747
3         Noelani       Wagner  female   14         2      7   83.2                          8839 Marshall St., Miami, FL 33125
5            Neil      Whitley    male   16         5     16   88.7                    40 Washington Ave., Bloomfield, NJ 07003
6           Nelle       Golden  female   17         1      9   80.2                       9768 Hanover Dr., Meadville, PA 16335
8         Illiana        Rojas  female   15         5      9   76.5                    9425 Studebaker Dr., Thibodaux, LA 70301
9            Neil       Wooten    male   15         3     15   89.7                     400 Bridge Court, Soddy Daisy, TN 37379
10         Daquan      Alvarez    male   16         2     13   85.2                     9028 Arnold Circle, Elizabeth, NJ 07202
11           Nola    Velazquez  female   15         2     10   75.3                         72 Bradford Dr., Carlisle, PA 17013
12          Quinn       Warren  female   14         4     12   80.7                        760 Smith Street, Appleton, WI 54911
13        Frances    Velasquez  female   15         2     15   84.2                             57 Bridge St., Tupelo, MS 38801
15          Medge     Mccarthy  female   15         1      8   75.8                      609 Warren Court, Prior Lake, MN 55372
16           Kibo        Gates    male   16         1     10   88.2                          24 Vernon Street, Helena, MT 59601
21          Maggy    Whitfield  female   15         1     15   90.5                            2 Henry Ave., Palm Bay, FL 32907
22          Elton       Wagner    male   16         2      9   71.0                      98 Indian Spring St., Athens, GA 30605
23          Lance     Benjamin    male   14         5     18   90.3                              55 Creek Dr., Lorton, VA 22079
24           Kyle      Skinner    male   17         5      6   82.4                 8593 East Branch St., Mooresville, NC 28115
25          Colin        Cohen    male   14         1     10   83.8                    23 Lakewood Street, Lake Worth, FL 33460
26        Solomon    Mcpherson    male   15         5     18   94.5             7465 North Pearl St., Massapequa Park, NY 11762
28          Tyler      Collier    male   16         1      9   69.7                     65 Lookout Street, Marshfield, WI 54449
29           Emma       Mccall  female   16         2     13   91.1                       854 Sussex Street, Westford, MA 01886
30         Isaiah       Newman    male   16         2     12   91.9                          12 Shirley Road, Everett, MA 02149
31          Carol       Acosta  female   16         3     13   85.0                        8459 Windfall St., Navarre, FL 32566
32        Georgia        Munoz  female   14         5     20   99.0                         84 New Saddle St., Revere, MA 02151
33          Doris     Melendez  female   17         5     12   93.2                           8 Euclid Drive, Bel Air, MD 21014
34           Eric       Larsen    male   14         2     11   71.9                    366 State Ave., Hendersonville, NC 28792
35           Cain       Sexton    male   16         3      8   85.3                 9370 Green Hill Dr., Beaver Falls, PA 15010
37          Devin       Jacobs    male   14         3     14   98.1                  9033 NW. Pleasant St., Salisbury, MD 21801
38        Rebekah        Brock  female   16         2      5   68.9                        74 Gonzales Court, Natchez, MS 39120
39        Cameran        Sears  female   14         4      8   75.4                   6 S. Edgewater Ave., Royersford, PA 19468
40         Norman   Cunningham    male   17         2     10   76.8                        8365 Liberty Street, Miami, FL 33125
41         Lenore     Copeland  female   14         4      8   74.0                        74 Howard Ave., Southfield, MI 48076
42         Keelie     Guerrero  female   15         1     12   81.0             221 Walt Whitman Court, Redondo Beach, CA 90278
43          Hilel     Hamilton    male   15         2     17   95.2                  9761 Lexington Street, Littleton, CO 80123
44          Dolan         Ford    male   14         3      3   64.2                                12 New St., Newark, NJ 07103
46         Fulton    Castaneda    male   14         3     10   71.2                          956 East Street, Hamburg, NY 14075
48        Aurelia      Clayton  female   14         5      3   72.1                                81 High Ave., Bear, DE 19701
52       Octavius       Walker    male   15         2     11   81.3                    568 Longfellow Street, Garland, TX 75043
54          Basil       Fuller    male   16         3      9   86.4                 8216 Constitution Street, Romulus, MI 48174
55          Reese        Kline    male   16         4     11   83.5                      105 Pineknoll Drive, Shirley, NY 11967
56           Tate       Dunlap    male   17         2      6   67.7                       256 High Street, Youngstown, OH 44512
57          Jonah         Sosa    male   14         5     12   89.9                     197 Joy Ridge St., Trussville, AL 35173
58         Ingrid       Harvey  female   16         5      5   72.6                     399 Sussex St., Bowling Green, KY 42101
59         Tanner       Vaughn    male   17         4     11   89.1                  9707 Saxton Drive, New Brunswick, NJ 08901
60           Oleg       Mooney    male   16         3     10   71.3                 89 Redwood Street, Virginia Beach, VA 23451
62      Genevieve       Adkins  female   15         1      8   67.3                     8480 Aspen Street, Chesterton, IN 46304
64        Illiana     Thompson  female   15         3     17   86.0               7156 Crescent Street, South Windsor, CT 06074
66          Regan        Foley  female   16         2      9   77.4                        115 Gainsway St., Suitland, MD 20746
70        Barbara       Berger  female   16         3     12   82.7                       99 Thompson Road, Harlingen, TX 78552
71      Christine       Briggs  female   14         5     18   91.9                        88 Magnolia Street, Hamden, CT 06514
74          Jaden    Maldonado  female   16         4     10   84.5                      8127 Myers Dr., Johnson City, TN 37601
77         Quemby      Justice  female   14         2     17  100.0                      346 Birchpond Court, Decatur, GA 30030
78        Shafira      Guthrie  female   17         4     12   85.3                    618 Buckingham Ave., Langhorne, PA 19047
79         Ariana      Pacheco  female   17         1      5   70.9                   8914 Newbridge Lane, New Castle, PA 16101
80           Hoyt        Lyons    male   16         5      1   71.3            720 Linden Street, Springfield Gardens, NY 11413
82         Phelan         Rich    male   16         1      6   74.9              72 Jockey Hollow Ave., Winston Salem, NC 27103
83       Honorato   Villarreal    male   14         1     12   73.3                    63 Woodside Avenue, Round Lake, IL 60073
85         Porter         Ware    male   14         1     16   90.4                         52 Shirley Drive, Merrick, NY 11566
87          Alexa    Gutierrez  female   17         4      6   81.2                        59 Foster Ave., Auburndale, FL 33823
88           Sean       Molina    male   17         1      8   67.7                        8950 Sycamore Dr., Roswell, GA 30075
89         Lucius      Herrera    male   14         2     19   88.0                          67 Old Clinton Dr., Lynn, MA 01902
91      Allistair      Rosales    male   14         4      3   67.0                          7825 Dogwood Dr., Norman, OK 73072
94        Bernard    Mcconnell    male   14         2     10   78.3                            571 Acacia St., Smyrna, GA 30080
95          Jonah     Mckinney    male   15         2     11   74.9                  644 Walnutwood Street, Rock Hill, SC 29730
96            Yen        Cooke  female   14         4     11   87.9                             54 Eagle Dr., Rocklin, CA 95677
97        Cassidy       Hughes  female   15         3     17   92.0                            656 East Road, Hampton, VA 23666
99          Yetta       Howell  female   17         3     13   89.2                      348 Tailwater Lane, Hilliard, OH 43026
100       Gabriel       Morton    male   16         2     15   91.3                            23 Circle Street, Reno, NV 89523
102       Shannon          Key  female   15         1     11   83.7                     242 Littleton Rd., Flemington, NJ 08822
103     Sigourney     Mitchell  female   14         2     12   82.5                          7923 8th Rd., Norristown, PA 19401
105        Chaney      Hoffman    male   14         3     13   93.6                  9152 Glenwood Ave., New Rochelle, NY 10801
106         Fritz         Park    male   14         2     18   93.2                      9991 Parker Court, Lansdowne, PA 19050
107       Clinton    Donaldson    male   16         5     10   88.4                            96 Shipley Ave., Evans, GA 30809
108          Lara        Haley  female   17         5     12   95.6                  7586 Oakwood Lane, Winter Garden, FL 34787
111       Quinlan      Rollins    male   15         5      8   73.3                              77 Tower St., Carmel, NY 10512
113      Hamilton      Terrell    male   15         5     16   96.6                          39 Lookout St., Highland, IN 46322
114          Zeus      Ratliff    male   14         2     16   88.8                    8644 SW. Delaware St., Peabody, MA 01960
116         Zahir      Watkins    male   14         2     14   92.0                          9820 Church Ave., Newnan, GA 30263
117         Debra    Wilkerson  female   16         4      5   66.3                              48 Race Dr., Cumming, GA 30040
118          Clio       Wilson  female   14         1      5   65.3             8020 E. Hilldale Drive, East Hartford, CT 06118
120       Yolanda      Vaughan  female   14         2     15   94.0                          7244 Sutor Court, Canton, GA 30114
123       Bethany     Sullivan  female   15         3      9   73.1                          984 10th St., High Point, NC 27265
124      Salvador         Gray    male   14         1     13   84.2                 677 Talbot Street, Shepherdsville, KY 40165
125        Violet     Jennings  female   14         1      5   62.6                     9950 Liberty St., Bloomington, IN 47401
126         Lewis        Jones    male   15         5     11   92.6                         520 Taylor St., Kalamazoo, MI 49009
127         Lunea     Mcfadden  female   17         1     17   91.6                   8416 Hill Field Street, Valrico, FL 33594
129        Nathan        Payne    male   15         1      8   79.1                  73 East Pheasant St., Sugar Land, TX 77478
130        Stella        Smith  female   14         1      6   76.2                      394 Tunnel Court, Clarksburg, WV 26301
136       Jamalia       Bowman  female   16         1     13   77.8                   54 Devonshire Drive, Farmington, MI 48331
137         Shana       Castro  female   14         1     14   95.0                 62 Studebaker Street, Bloomington, IN 47401
138       Merrill        Duran    male   17         2     10   76.3                9049 Rockwell Street, Merrillville, IN 46410
141        Sheila         Koch  female   15         5     13   97.1                   8254 Nicolls Drive, Canandaigua, NY 14424
144        Baxter        Hardy    male   14         5      9   75.1                      55 West Foster St., Vineland, NJ 08360
145        Jorden        Sharp  female   17         4     12   90.2                             967 Grove Road, Coram, NY 11727
146            Hu        Weber    male   17         3      9   84.2              916 East Edgewood Street, Ridgefield, CT 06877
147         Maite      Walters  female   16         3     10   74.0                          5 Gainsway Street, Xenia, OH 45385
148       Alfreda         Mays  female   15         4      7   71.6                    58 Pine St., Altamonte Springs, FL 32714
149        Dexter        Wells    male   16         3      5   68.9                      50 Bow Ridge Street, Beckley, WV 25801
152        Hashim     Callahan    male   16         1     11   71.8                        56 Plymouth Drive, Buffalo, NY 14215
157          Jane        Welch  female   15         3     16   93.7                    400 Glenridge St., Baton Rouge, LA 70806
160        Arthur      Pacheco    male   15         3     14   96.9             704 E. Hill Field Dr., West Lafayette, IN 47906
161         Hedda        Ramos  female   16         5      5   82.3                  911 Blue Spring Lane, Whitestone, NY 11357
162        Farrah       Palmer  female   15         5     11   91.3                             8718 Ocean St., Olney, MD 20832
163          Bree       Weaver  female   16         4     12   83.3                         7850 Somerset St., Peoria, IL 61604
164         Elton      Preston    male   17         4     20   97.8                       64 St Paul Drive, Fair Lawn, NJ 07410
165        Ciaran        Johns    male   16         4     15  100.0                 7350 Creek Avenue, Upper Marlboro, MD 20772
167     Geraldine      Farrell  female   16         3     10   84.9                       962 E. Kent Ave., Riverside, NJ 08075
168        Callie      Hoffman  female   15         3      9   71.9                183 N. Brickell Lane, West Chicago, IL 60185
169        Jelani      Kaufman    male   14         3     14   94.1                    993 Columbia St., Cartersville, GA 30120
171        Callie   Washington  female   17         2      7   77.0                       9 Griffin Street, Wyandotte, MI 48192
172        Carson      Meadows    male   17         5      8   75.4                        5 S. Henry St., Glen Allen, VA 23059
173        Joseph       Mclean    male   16         1     14   81.8                 8407 E. Bayberry St., Sioux Falls, SD 57103
175          Raja       Stuart    male   14         1     13   82.5                          8 Greenview St., Paramus, NJ 07652
178    Evangeline          Cox  female   14         5     13   88.9                  9677 2nd Avenue, North Tonawanda, NY 14120
179         Slade      Padilla    male   17         5     16   93.1               1 South Oak Valley Dr., Bergenfield, NJ 07621
181       Beverly       Benson  female   14         4     17   89.7                               7 Lilac Ave., Flint, MI 48504
182       Solomon        Beach    male   14         4     13   90.3                        33 Snake Hill Rd., Everett, MA 02149
184          Lars        David    male   14         1     16   84.3                    8309 Leatherwood Road, Paducah, KY 42001
185         Halla       Newman  female   16         3      8   80.5                       8477 Victoria Road, Muskego, WI 53150
186           Gay       Wagner  female   17         4      7   75.0                            7368 Sugar Ave., Flint, MI 48504
187        Ariana         Hess  female   15         4     14   99.1                       6 Joy Ridge St., Auburndale, FL 33823
188        Victor     Mcdonald    male   15         2     11   76.4                    441 Mammoth Street, Quakertown, PA 18951
189       Jocelyn        Brock  female   15         2      7   72.7                        347 Sherwood Drive, Medina, OH 44256
192       Russell        Eaton    male   17         4      9   73.4                    8027 Somerset Lane, Cincinnati, OH 45211
195        Hector      Aguilar    male   14         1      9   68.8                       23 W. Pulaski Lane, Teaneck, NJ 07666
197        Jescie       Snyder  female   17         3      5   77.0               7882 East Harvard St., Lincoln Park, MI 48146
199         Nigel       Morris    male   16         2     11   77.0                         917 Oak St., Marshalltown, IA 50158
201         Maris         Holt  female   14         2      6   68.2                     978 Iroquois Court, Parkville, MD 21234
203         Hanna         Rose  female   14         3     15   90.8                         4 Pheasant Ave., Somerset, NJ 08873
206        Nathan     Gonzales    male   16         1      8   74.3                       7 Front Rd., Shepherdsville, KY 40165
207      Madaline        Ayala  female   15         1      8   78.2                           4 Ashley Street, Venice, FL 34293
209       Colette      Workman  female   15         2     12   81.1                       467 Richardson Ave., Edison, NJ 08817
210         Keith    Zimmerman    male   14         3     10   86.0               9002 Lakewood Ave., Fort Washington, MD 20744
211      Channing        Stark    male   16         3      7   65.3                 70 Indian Spring St., Bergenfield, NJ 07621
213        Kermit      Raymond    male   17         4     13   90.8                       8978 East Union Dr., Conway, SC 29526
215        Keaton    Velazquez    male   14         1      9   72.7                      739 Longbranch Lane, Taylors, SC 29687
217        TaShya         Cote  female   15         5     10   87.5                    539 Sussex Lane, Jamaica Plain, MA 02130
218       Breanna        Silva  female   16         5     12   86.0                      569 Brook Drive, Tallahassee, FL 32303
223         Conan     Kirkland    male   15         5     11   85.2                     31 Joy Ridge Dr., Chillicothe, OH 45601
224         Venus      Navarro  female   14         1     12   77.0                       875 Coffee Dr., Parkersburg, WV 26101
225         Naida     Delacruz  female   17         2      9   70.3                     9280 Lake View Street, Boston, MA 02127
227         Barry      Mcgowan    male   16         3      8   69.3                         185 W. Coffee St., Garner, NC 27529
229       Harriet       Harvey  female   15         3      8   76.1                     790 Oakwood Drive, Willoughby, OH 44094
233         Devin       Snider    male   16         1     12   88.5                9151 North Helen Street, Brookline, MA 02446
234       Natalie      Delaney  female   16         4     18   90.8                      10 Glenridge St., Pittsburgh, PA 15206
235         Rahim    Nicholson    male   16         4     11   76.1                  7175 Pawnee Drive, Elizabethtown, PA 17022
236        Teagan      Mullins  female   15         1     12   91.3                   12 Stillwater Drive, Nottingham, MD 21236
237       Jenette         Moon  female   16         5     12   81.0                         7044 Bohemia St., El Paso, TX 79930
238        Brenna        Morse  female   17         3     16   89.0                 83 Richardson Drive, Huntersville, NC 28078
239        Hayley         Wolf  female   14         1     10   87.3                  50 Hanover Drive, Mechanicsville, VA 23111
240     Allistair      Jenkins    male   17         2     11   80.8                           626 Laurel Rd., Oshkosh, WI 54901
241       Jackson       Hester    male   14         5     11   79.5             7573 Silver Spear St., West Lafayette, IN 47906
243         Dante      Terrell    male   14         4      4   63.4                        692 Pin Oak Ave., Freeport, NY 11520
244         Wynne      Herring  female   15         2      8   71.4                         11 W. Broad Dr., Bethesda, MD 20814
246          Sage      Donovan  female   14         4     12   77.4                     402 Fulton Rd., Elizabethtown, PA 17022
247          Raja          Cox    male   14         2     17   90.6                   4 N. Temple Road, Moncks Corner, SC 29461

In [19]:
#Removing Duplicate
print(df.duplicated())
df.drop_duplicates(inplace = True)

0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Length: 2000, dtype: bool